services:
  mysql:
    image: mysql
    restart: always
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
    ports:
      - "3306:3306"

  redis:
    image: redis
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]


  backend:
    build: .
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - mysql
      - redis
    volumes:
      - staticfiles:/app/staticfiles
      - media:/app/media
    env_file:
      - .env

  caddy:
    image: caddy:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - staticfiles:/app/staticfiles:ro
      - media:/app/media:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend

volumes:
  caddy_data:
  caddy_config:
  staticfiles:
  media:
