{% extends "base.html" %}

{% block  title %}
    TnP | Department Coordinator
{% endblock title  %}

{% block content %}
   <div class="z-[-1] absolute bg-[#d48525] h-[25%] w-[100%]"></div>
    <c-pc_sidebar>
            <div class="h-[80%] grid grid-cols-1 lg:grid-cols-2 gap-10">
                <div class="flex flex-col justify-center items-center bg-[#153F74] text-white p-6 rounded-xl shadow-lg">
                    <h3 class="text-2xl mb-4 font-bold">Program Attendance</h3>
                    <form action="." method="post" class="space-y-6" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <label for="attendanceFile" class="block mb-2 text-sm">Importing Data</label>
                            <select id="attendanceFile" name="attendanceFile" class="w-full p-2 bg-gray-700 text-white rounded" disabled>
                                <option value="excel">CSV</option>
                            </select>
                        </div>
                        <input type="text" class="hidden" value="attendanceForm" name="formType" readonly>
                        <div>
                            <label class="block mb-2 text-sm">File Import</label>
                            <input type="file" class="w-full px-4 py-3 text-lg border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors duration-300 ease-in-out placeholder-gray-400" required name="file_attendance">
                        </div>
                        <button type="submit" class="w-full py-2 bg-[#D48525] text-white rounded-full">
                            SUBMIT
                        </button>
                    </form>
                </div>
                <div class="flex flex-col justify-center items-center bg-[#153F74] text-white p-6 rounded-xl shadow-lg">
                    <h3 class="text-2xl mb-4 font-bold">Program Marks(if applicable)</h3>
                    <form action="." method="post" class="space-y-6" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <label for="marksFile" class="block mb-2 text-sm">Importing Data</label>
                            <select id="marksFile" class="w-full p-2 bg-gray-700 text-white rounded" name="marksFile" disabled>
                                <option value="excel">CSV</option>
                            </select>
                        </div>
                        <input type="text" class="hidden" value="marksForm" name="formType" readonly>
                        <div>
                            <label class="block mb-2 text-sm">File Import</label>
                            <input type="file" class="w-full px-4 py-3 text-lg border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors duration-300 ease-in-out placeholder-gray-400" name="file_performance" required>
                        </div>
                        <button type="submit" class="w-full py-2 bg-[#D48525] text-white rounded-full">
                            SUBMIT
                        </button>
                    </form>
                </div>
            </div>
            {% if messages %}
            <ul class="list-none bg-orange-600 text-white p-3 mt-10">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
    </c-pc_sidebar>
{% endblock content %}