{% extends "base.html" %} {% block title %} TCET | Program Coordinator 
{%endblock title %} 
{% block content %}
<div class="z-[-1] absolute bg-[#d48525] h-[25%] w-[100%]"></div>
<c-pc_sidebar>
    <div class="bg-[#153F74] rounded-lg shadow-lg p-4 mb-4 flex flex-col">
      <h1 class="text-xl lg:text-2xl font-bold">Student Enrolled</h1>
      <div class="flex flex-col md:flex-row justify-between items-center w-full mx-auto">
        <div class="w-full md:w-[35%] border-white mb-4 md:mb-0">
          <canvas id="departmentWise" class="w-full"></canvas>
        </div>
        <div class="w-full md:w-[35%]">
          <canvas id="yearWise" class="w-full"></canvas>
        </div>
      </div>
    </div>
    <div class="bg-[#153F74] rounded-lg shadow-lg p-4 mb-4 flex flex-col w-full">
        <h1 class="text-xl lg:text-2xl font-bold">Average Current Year student attendance by departments</h1>
        <div class="w-full">
            <canvas id="attendance" height='100%'></canvas>
        </div>
    </div>
    <div class="bg-[#153F74] rounded-lg shadow-lg p-4 mb-4 flex flex-col w-full">
        <h1 class="text-xl lg:text-2xl font-bold">Average Current Year student performance by departments</h1>
        <div class="w-full">
            <canvas id="performance" height='100%'></canvas>
        </div>
    </div>
</c-pc_sidebar>
<script>
    const departments_students = JSON.parse('{{department_count|safe}}');
    const years = JSON.parse('{{year_count|safe}}');
    const departments_avg_attendance = JSON.parse('{{department_avg_attendance|safe}}');
    const departments_avg_performance = JSON.parse('{{department_avg_performance|safe}}');
    console.log(departments_avg_attendance,departments_avg_performance);
    new Chart(document.getElementById("departmentWise"), {
        type: "pie",
        data: {
          labels: Object.keys(departments_students),
          datasets: [
            {
              data: Object.values(departments_students),
              borderWidth: 0,
            },
          ],
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: "right",
              labels: { color: "white" },
            },
            title: {
              display: true,
              text: "Branch Distribution",
              color: "white",
              font: {
                size: 16,
              },
            },
          },
        },
        }
      ); 
    new Chart(document.getElementById("yearWise"), {
      type: "pie",
      data: {
        labels: Object.keys(years),
        datasets: [
          {
            data: Object.values(years),
            borderWidth: 0,
          },
        ],
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: "right",
            labels: { color: "white" },
          },
          title: {
            display: true,
            text: "Year wise Distribution",
            color: "white",
            font: {
              size: 16,
            },
          },
        },
      },
    });
    const attendanceChart = new Chart(document.getElementById('attendance'), {
        type: 'bar', 
        data: {
            labels: Object.keys(departments_avg_attendance), 
            datasets: [{
                label: 'Average Attendance (%)',
                data: departments_avg_attendance, 
                backgroundColor: "#ef4444",
                borderWidth: 1  
            }]
        },
        options: {
            scales: {
                x: {
                    ticks: {
                        color: 'white'  
                    }
                },
                y: {
                    ticks: {
                        color: 'white',  
                        beginAtZero: true  
                    }
                }
            },
            plugins: {
                legend: {
                    labels: {
                        color: 'white'  
                    }
                }
            }
        }
    });
    const performanceChart = new Chart(document.getElementById('performance'), {
        type: 'bar', 
        data: {
            labels: Object.keys(departments_avg_performance), 
            datasets: [{
                label: 'Average Performance (%)',
                data: departments_avg_performance, 
                backgroundColor: "#3b82f6",
                borderWidth: 1  
            }]
        },
        options: {
            scales: {
                x: {
                    ticks: {
                        color: 'white'  
                    }
                },
                y: {
                    ticks: {
                        color: 'white',  
                        beginAtZero: true  
                    }
                }
            },
            plugins: {
                legend: {
                    labels: {
                        color: 'white'  
                    }
                }
            }
        }
    });
</script>
{% endblock content %}
