<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href='{% static "css/style.css" %}'/>
  <title>Training Programme</title>
</head>
<body>
  <div class="training-programme">
    <div class="div">
      <div class="overlap">
        <div class="overlap">
          <div class="frame">
            <div class="text-wrapper">Training Programme Statistics</div>
          </div>
          <div class="frame-2">
            <div class="text-wrapper-2">TCET- TNP</div>
            <img class="tcet-logo" alt="Tcet logo" src='{% static "img/tcet-logo-1.png" %}' />
          </div>
          <div class="frame-3">
            <div class="text-wrapper-3">ACT/CDT</div>
            <div class="text-wrapper-4">SDP</div>
            <div class="text-wrapper-5">ESD/IP</div>
            <div class="text-wrapper-6">DSA Contest..</div>
            <div class="text-wrapper-7">Programmes offered</div>
          </div>
          <div class="group">
            <div class="group-2">
              <a class="text-wrapper-8" href="/principal">Training Program Statistics</a>
              <img class="workstation" alt="Workstation" src='{% static "img/workstation.png" %}' />
            </div>
            <div class="group-3">
              <a class="text-wrapper-9" href="/principal">Placement Statistics</a>
              <img class="img" alt="Mail statistics" src='{% static "img/mail-statistics.png" %}' />
            </div>
            <div class="group-4">
              <a class="text-wrapper-10" href="{% url "principal_internship" %}">Internship Statistics</a>
              <img class="img" alt="Head with brain" src='{% static "img/head-with-brain.png" %}'/>
            </div>
          </div>
        </div>
        <div class="frame-4">
          <div class="overlap-wrapper">
            <div class="overlap-group">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <img class="vector" alt="Vector" src='{%static "svg/vector-4.svg" %}'/>
                  <img class="vector-2" alt="Vector" src='{%static "svg/image.svg" %}' />
                  <div class="text-wrapper-11">25%</div>
                </div>
              </div>
              <div class="text-wrapper-12">75%</div>
            </div>
          </div>
          <div class="group-5">
            <div class="group-6">
              <div class="frame-5"></div>
              <div class="frame-6"></div>
            </div>
            <div class="text-wrapper-13">CDT</div>
            <div class="text-wrapper-14">SDP</div>
          </div>
          <div class="text-wrapper-15">Students appearing <br>for</div>
        </div>
        <div class="div-wrapper">
          <div class="overlap-2">
            <div class="overlap-3">
              <div class="frame-7">
                <div class="overlap-group-3">
                  <img class="vector-3" alt="Vector" src='{% static "svg/vector-5.svg" %}' />
                  <img class="vector-5" alt="Vector" src='{% static "svg/vector-5.svg" %}' />
                  <img class="vector-6" alt="Vector" src='{% static "svg/vector-5.svg" %}' />
                  <img class="vector-7" alt="Vector" src='{% static "svg/vector-5.svg" %}' />
                  <img class="vector-4" alt="Vector" src='{% static "svg/vector-5.svg" %}' />
                  <img class="vector-8" alt="Vector" src='{%static "svg/vector-2.2.svg" %}' />
                  <img class="vector-9" alt="Vector" src='{%static "svg/vector-2.2.svg" %}' />
                  <img class="vector-10" alt="Vector" src='{%static "svg/vector-2.2.svg" %}' />
                  <img class="vector-11" alt="Vector" src='{%static "svg/vector-2.2.svg" %}' />
                  <img class="vector-12" alt="Vector" src='{%static "svg/vector-2.svg" %}' />
                  <img class="vector-13" alt="Vector" src='{%static "svg/vector-2.svg" %}' />
                  <img class="vector-14" alt="Vector" src='{%static "svg/vector-2.svg" %}' />
                  <img class="vector-15" alt="Vector" src='{%static "svg/vector-2.svg" %}' />
                  <img class="vector-16" alt="Vector" src='{%static "svg/vector.svg" %}' />
                  <img class="vector-17" alt="Vector" src='{%static "svg/vector-3.svg" %}' />
                </div>
                <div class="text-wrapper-16">2019-2020</div>
                <div class="text-wrapper-17">2020-2021</div>
                <div class="text-wrapper-18">2021-2022</div>
                <div class="text-wrapper-19">2022-2024</div>
                <div class="text-wrapper-20">0</div>
                <div class="text-wrapper-21">7</div>
                <div class="text-wrapper-22">15</div>
                <div class="text-wrapper-23">22</div>
                <div class="text-wrapper-24">29</div>
                <div class="text-wrapper-25">37</div>
                <div class="text-wrapper-26">44</div>
                <div class="text-wrapper-27">51</div>
                <div class="text-wrapper-28">58</div>
                <div class="text-wrapper-29">66</div>
                <div class="text-wrapper-30">73</div>
              </div>
              <div class="text-wrapper-31">Students opted for</div>
            </div>
            <div class="group-7">
              <div class="group-6">
                <div class="frame-8"></div>
                <div class="frame-9"></div>
              </div>
              <div class="text-wrapper-32">IP</div>
              <div class="text-wrapper-33">ESD</div>
            </div>
          </div>
        </div>
        <div class="frame-10">
          <div class="TCET-s-shastra">
            TCET’s Shastra <br />
            Platform
          </div>
          <div class="group-8">
            <div class="overlap-group-4">
              <div class="text-wrapper-34">15%</div>
              <div class="text-wrapper-35">25%</div>
              <div class="text-wrapper-36">60%</div>
            </div>
          </div>
          <div class="group-9">
            <div class="group-10">
              <div class="frame-11"></div>
              <div class="frame-12"></div>
              <div class="frame-13"></div>
            </div>
            <div class="text-wrapper-37">TCET-GFG</div>
            <div class="text-wrapper-38">TCET-GDSC</div>
            <div class="text-wrapper-39">Shastra Coding Club</div>
          </div>
          <p class="p">“Learn to kindle your own heart”</p>
        </div>
      </div>
      <img
        class="boy-and-girl-sitting"
        alt="Boy and girl sitting"
        src='{%static "img/boy-and-girl-sitting-in-front-of-laptop.png" %}'
      />
    </div>
  </div>
</body>
</html>
