{% extends "base.html" %}

{% block  title %}
    TnP | Department Coordinator
{% endblock title  %}

{% block content %}
    <div class="z-[-1] absolute bg-[#d48525] h-[25%] w-[100%]"></div>
    <c-sidebar>
        <div class="bg-[#153F74] rounded-lg  shadow-lg p-3 flex flex-col ">
            <div class="bg-white text-[#153F74] p-2 rounded-lg shadow-lg w-[30%] mx-auto mb-6">
                <h3 class="text-center lg:text-lg">Total Student</h3>
                <p class="lg:text-2xl font-bold text-center">{{total_students}}</p>
            </div>
            <div class="grid grid-cols-4 gap-6 mb-10">
                <div class="bg-white text-[#153F74] p-2 rounded-lg shadow-lg m-auto">
                    <h3 class="text-center lg:text-lg">FE/FT</h3>
                    <p class="lg:text-2xl font-bold text-center">{{fe_count}}</p>
                </div>
                <div class="bg-white text-[#153F74] p-2 rounded-lg shadow-lg m-auto">
                    <h3 class="text-center lg:text-lg">SE/ST</h3>
                    <p class="lg:text-2xl font-bold text-center">{{se_count}}</p>
                </div>
                <div class="bg-white text-[#153F74] p-2 rounded-lg shadow-lg m-auto">
                    <h3 class="text-center lg:text-lg">TE/TT</h3>
                    <p class="lg:text-2xl font-bold text-center">{{te_count}}</p>
                </div>
                <div class="bg-white text-[#153F74] p-2 rounded-lg shadow-lg m-auto">
                    <h3 class="text-center lg:text-lg">BE/BT</h3>
                    <p class="lg:text-2xl font-bold text-center">{{be_count}}</p>
                </div>
            </div>
        </div>
        <div class="flex justify-end items-center my-4">
            <div>   
                <a class="px-4 py-2 mr-2 bg-gray-200 text-blue-900 rounded-full" href="{% url "department_coordinator_index"%}">All</a>
                <a class="px-4 py-2 mr-2 bg-gray-200 text-blue-900 rounded-full" href="{% url "department_coordinator_index"%}?year=FE">FE</a>
                <a class="px-4 py-2 mr-2 bg-gray-200 text-blue-900 rounded-full" href="{% url "department_coordinator_index" %}?year=SE">SE</a>
                <a class="px-4 py-2 mr-2  bg-gray-200 text-blue-900 rounded-full" href="{% url "department_coordinator_index" %}?year=TE">TE</a>
                <a class="px-4 py-2 bg-gray-200 text-blue-900 rounded-full" href="{% url "department_coordinator_index" %}?year=BE">BE</a>
            </div>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white rounded-lg shadow-lg">
                <thead class=" text-white">
                    <tr class="bg-[#153F74]">
                        <th class="py-2 px-4">No.</th>
                        <th class="py-2 px-4">Name</th>
                        <th class="py-2 px-4">Uid</th>
                        <th class="py-2 px-4">Branch</th>
                        <th class="py-2 px-4">Academic year</th>
                        <th class="py-2 px-4">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in department_students  %}
                        <tr class="bg-[#153F74]">
                            <td class="border px-4 py-2">{{forloop.counter}}</td>
                            <td class="border px-4 py-2">{{student.user.full_name}}</td>
                            <td class="border px-4 py-2">{{student.uid}}</td>
                            <td class="border px-4 py-2">{{student.department}}</td>
                            <td class="border px-4 py-2">{{student.academic_year}}</td>
                            <td class="border px-4 py-2">{{student.user.email}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </c-sidebar>
{% endblock content %}