{% extends "base.html" %}

{% block  title %}
    TnP | Department Coordinator
{% endblock title  %}

{% block content %}
   <div class="z-[-1] absolute bg-[#d48525] h-[25%] w-[100%]"></div>
    <c-sidebar>
        <div class="bg-[#153F74] rounded-lg shadow-lg p-4 mb-4 flex justify-between w-full mx-auto">
            <div class="w-[60%]">
                <canvas id="branchDistribution" class="w-[50%]"></canvas>
            </div>
            <div class="w-[60%]">
                <canvas id="packageDistribution" class="w-[50%]"></canvas>
            </div>
        </div>
        <div class="bg-[#153F74] rounded-lg shadow-lg p-4 mb-4 flex justify-between w-full">
          <div class="w-[60%]">
              <canvas id="internshipSecured"></canvas>
          </div>
          <div class="w-[60%]">
              <canvas id="internshipOpportunities"></canvas>
          </div>
        </div>
        <div class="bg-[#153F74] rounded-lg shadow-lg p-4 mb-4 flex justify-between w-full">
          <canvas id="studentPlaced"></canvas>
        </div>
    </c-sidebar>
    <script>
    const department_salaries = JSON.parse('{{department_salaries|safe}}')
    const salaries_range = JSON.parse('{{salaries_range|safe}}')
    console.log(salaries_range)
    new Chart(document.getElementById('branchDistribution'), {
        type: 'pie',
        data: {
            labels: Object.keys(department_salaries),
            datasets: [{
                data: Object.values(department_salaries),
                borderWidth:0,
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'right',
                    labels: { color: 'white' }
                },
                title: {
                    display: true,
                    text: 'Branch Distribution',
                    color: 'white',
                    font:{
                      size:24
                    }
                }
            }
        }
    });
    new Chart(document.getElementById('packageDistribution'), {
        type: 'doughnut',
        data: {
            labels: Object.keys(salaries_range),
            datasets: [{
                borderWidth:0,
                data: Object.values(salaries_range),
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'right',
                    labels: { color: 'white' }
                },
                title: {
                    display: true,
                    text: 'Package',
                    color: 'white',
                    font:{
                      size:24
                    }
                }
            }
        }
    });
    new Chart(document.getElementById('internshipSecured'), {
        type: 'pie',
        data: {
            labels: ['2022', '2023', '2024'],
            datasets: [{
                data: [45, 5, 50],
                borderWidth:0,
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'right',
                    labels: { color: 'white' }
                },
                title:{
                  display: true,
                  text: 'Internship Secured BatchWise',
                  color: 'white',
                  font:{
                    size:24
                  }
                }
            }
        }
    });
    new Chart(document.getElementById('internshipOpportunities'), {
        type: 'pie',
        data: {
            labels: ['2022 Batch', '2023 Batch', '2024 Batch'],
            datasets: [{
                data: [25, 15, 60],
                borderWidth:0
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'right',
                    labels: { color: 'white' }
                },
                title:{
                  display: true,
                  text: 'Internship Opportunities',
                  color: 'white',
                  font:{
                    size:24
                  }
                }
            }
        }
    });
    new Chart(document.getElementById('studentPlaced'), {
        type: 'bar',
        data: {
            labels: ['2020-21', '2021-22', '2022-23'],
            datasets: [
                {
                    label: 'Batch Wise',
                    data: [300, 250, 600],
                    backgroundColor: '#1e40af'
                },
                {
                    label: 'Branch Wise',
                    data: [350, 400, 600],
                    backgroundColor: '#f97316'
                },
                {
                    label: 'PLI Wise',
                    data: [400, 400, 400],
                    backgroundColor: '#ef4444'
                }
            ]
        },
        options: {
            responsive: true,
            scales: {
                x: { stacked: true, grid: { color: '#475569' } },
                y: {
                    stacked: true,
                    grid: { color: '#475569' },
                    ticks: { color: 'white' }
                }
            },
            plugins: {
                legend: {
                    labels: { color: 'white' }
                }
            }
        }
    });
  </script>
{% endblock %}